body {
  margin: 0px;
  background-color: #f8f7f7;
}
.mechef-sidebar {
  display: inline-block;
  width: 240px;
  background-color: #252525;
}

.mechef-sidebar-inner {
  padding: 28px 36px 28px 36px;
}

.mechef-sidebar-menu {
  list-style-type: none;
  padding: 0px;
}
.mechef-sidebar-menu > li {
  width: 108px;
  height: 50px;
}

.mechef-sidebar-menu > li > a {
  line-height: 50px;
  width: 75.9px;
  height: 19px;
  font-family: AvenirNext;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
}

.mechef-sidebar-footer {
  list-style-type: none;
  padding: 0px;
}

.mechef-sidebar-footer > li {
  height: 32px;
}

.mechef-sidebar-footer > li > a{
  line-height: 32px;
  height: 16px;
  font-family: AvenirNext;
  font-size: 12px;
  letter-spacing: 0.9px;
  color: #9b9b9b;
}

.mechef-header {
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.mechef-menu-icon {
  width: 16px;
  height: 14.2px;
  color: #3e9f40;
}

.mechef-menu-word {
  margin-left: 24px;
  width: 55px;
 height: 20px;
 font-family: OpenSans;
 font-size: 18px;
 line-height: 30px;
 letter-spacing: 0.5px;
 color: #4a4a4a;
}

.mechef-menu-head {
  margin-right:20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #d8d8d8;
  border-radius: 50%;
}
